<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
</head>
<body>
    <%- include('../partials/nav.ejs') %>
    <h1>Hello from index HTML</h1>
    <h3>kyaa baat h ji</h3>
    <a href="/download">Download File</a>
</body>
</html>